{{ JOB_CARD }}
{% if DFS_IMS_SYSAFF %}
/*JOBPARM SYSAFF={{ DFS_IMS_SYSAFF }}
{% endif %}
//*
//SPOC      EXEC PGM=CSLUSPOC,
//  PARM=('IMSPLEX={{ DFS_IMSPlex }},ROUTE={{ DFS_IMS_SSID }},WAIT=30,F=WRAP')
//STEPLIB   DD DSN={{ DFS_RESLIB }},
//          DISP=SHR
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD *
    CRE PGM NAME({{ DFS_appname }}) SET(GPSB(N),BMPTYPE(N),SCHDTYPE(PARALLEL))
/*