{{ JOB_CARD }}
//*********************************************************************
//G      EXEC  PGM=DFSRRC00,PARM='UPB',REGION=4M
//SYSPRINT  DD  SYSOUT=*
//SYSABEND  DD  SYSOUT=*
//STEPLIB   DD  DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL
//DFSRESLB  DD  DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL
//IMS       DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.PSBLIB
//         DD DISP=SHR,
{# //      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL(DFSCPL00)
//         DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL(DFSCP000)
//         DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL(DFSCP001)
//         DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL(DFSCP002)
//         DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL(DFSCP003)
//         DD DISP=SHR, #}
{# //      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL(DFSCD000)
//         DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL(DFSCX000) #}
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.DBDLIB
//IMSACB  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.ACBLIB
//SYSUT3   DD  UNIT=SYSDA,SPACE=(256,(100,100)),DCB=KEYLEN=8
//SYSUT4   DD  UNIT=SYSDA,SPACE=(256,(100,100)),DCB=KEYLEN=8
//SYSIN    DD  *
     BUILD   PSB=(IB,IBACSUM,IBGCUDAT,IBLOAD,IBLOGIN,                  C
               IBLOGOUT,IBSCUDAT,IBTRAN)             
     BUILD   DBD=(ACCOUNT,ACCTYPE,CUSTACCS,CUSTOMER,                   C
               CUSTTYPE,HISTORY,TSTAT,TSTATTYP,TTYPE)
/*EOF
