{{ JOB_CARD }}                
//*********************************************************************  
//*                                                                   *  
//* CREATE DB2 DATABASE - IMSBANK  AND HISTORY TABLE                  *  
//*                                                                   *  
//*                                                                   *  
//*********************************************************************/ 
//DB EXEC PGM=IKJEFT01,DYNAMNBR=20                                 
//STEPLIB  DD  DISP=SHR,DSN=DSN.V12R1M0.SDSNEXIT                         
//         DD  DISP=SHR,DSN=DSN.V12R1M0.SDSNLOD2                         
//         DD  DISP=SHR,DSN=DSN.V12R1M0.SDSNLOAD                         
//SYSTSPRT DD  SYSOUT=*                                                  
//SYSPRINT DD  SYSOUT=*                                                  
//SYSUDUMP DD  SYSOUT=*                                                  
//SYSTSIN  DD  *                                                         
  DSN SYSTEM(DBC1)                                                       
  RUN PROGRAM(DSNTIAD)  PLAN(DSNTIA12) -
       LIB('DSN121.RUNLIB.LOAD')                                  
  END 
//SYSIN    DD  *
  CREATE DATABASE IMSBANK
  CCSID EBCDIC;
  CREATE TABLE IMSBANK.HISTORY
  (
	TXID           BIGINT UNIQUE   NOT NULL,
	TIMESTMP       TIMESTAMP       NOT NULL,
	TRANSTYP       CHAR(1)         NOT NULL,
	AMOUNT         DECIMAL(15,2)   NOT NULL,
	REFTXID        BIGINT          NOT NULL,
	ACCID          BIGINT          NOT NULL
  ) IN DATABASE IMSBANK AUDIT NONE DATA CAPTURE NONE CCSID EBCDIC;
  GRANT ALL ON IMSBANK.HISTORY TO PUBLIC;
/*
