#!/bin/sh

{% for item in datasets %}
{{ uss_utilities_path }}/dtouch -t{{ item.type }} -s{{ item.size }} -r{{ item.record_format }} -l{{ item.logical_record_length }} {{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.{{ item.name }}
{% endfor %}





