{{ JOB_CARD }}
//***************************************************************
//INIT      EXEC PGM=DSPURX00
//STEPLIB  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL
//         DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL
//SYSPRINT DD SYSOUT=*
//IMS       DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.DBDLIB
//*        DD DISP=SHR,
//*     DSN=IMSPERF.IDBCTK01.RESLIB(DFSCD000)
//*        DD DISP=SHR,
//*     DSN=IMSPERF.IDBCTK01.RESLIB(DFSCX000)
//RECON1  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.RECON1
//RECON2  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.RECON2
//RECON3  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.RECON3
//SYSIN    DD *
 INIT.DB   DBD(CUSTOMER) SHARELVL(0)
 INIT.DBDS  DBD(CUSTOMER) DDN(CUSTOMER) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.CUSTOMER.DB) GENMAX(2)
 INIT.DB   DBD(ACCOUNT) SHARELVL(0)
 INIT.DBDS  DBD(ACCOUNT) DDN(ACCOUNT) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.ACCOUNT.DB) GENMAX(2)
 INIT.DB   DBD(CUSTACCS) SHARELVL(0)
 INIT.DBDS  DBD(CUSTACCS) DDN(CUSTACCS) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.CUSTACCS.DB) GENMAX(2)
 INIT.DB   DBD(HISTORY) SHARELVL(0)
 INIT.DBDS  DBD(HISTORY) DDN(HISTORY) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.HISTORY.DB) GENMAX(2)
 INIT.DB   DBD(TSTAT) SHARELVL(0)
 INIT.DBDS  DBD(TSTAT) DDN(TSTAT) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.TSTAT.DB) GENMAX(2)
 {# INIT.DB   DBD(ACCTYPE) SHARELVL(0)
 INIT.DBDS  DBD(ACCTYPE) DDN(ACCTYPE) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.ACCTYPE.DB) GENMAX(2) #}
 {# INIT.DB   DBD(CUSTOMER) SHARELVL(0)
 INIT.DBDS  DBD(CUSTOMER) DDN(CUSTOMER) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.CUSTOMER.DB) GENMAX(2) #}
 {# INIT.DB   DBD(CUSTTYPE) SHARELVL(0)
 INIT.DBDS  DBD(CUSTTYPE) DDN(CUSTTYPE) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.CUSTTYPE.DB) GENMAX(2) #}
 {# INIT.DB   DBD(TSTATTYP) SHARELVL(0)
 INIT.DBDS  DBD(TSTATTYP) DDN(TSTATTYP) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.TSTATTYP.DB) GENMAX(2)
 INIT.DB   DBD(TTYPE) SHARELVL(0)
 INIT.DBDS  DBD(TTYPE) DDN(TTYPE) -
   DSN({{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.TTYPE.DB) GENMAX(2) #}