/* REXX */
/**********************************************************************/
/* Define the KEYRING and a certificate                               */
/**********************************************************************/
/* Define keyring */
address tso
"RACDCERT ADDRING(zOSConnect.{{softwareServiceInstanceName}})",
          " ID({{ZCON_ADMIN_SERVER}})"
 if RC <> 0 then do
    exit RC
 end
/* Generate self signed certificate */
"RACDCERT ID ({{ZCON_ADMIN_SERVER}}) GENCERT",
          " SUBJECTSDN(CN('zOSConnect.{{softwareServiceInstanceName}}')",
          " OU('zOSConnect')) WITHLABEL('zOSConnect.{{softwareServiceInstanceName}}')"
 if RC <> 0 then do
    exit RC
 end
/* Connect certificate to keyring */
"RACDCERT ID({{ZCON_ADMIN_SERVER}}) CONNECT",
          " (LABEL('zOSConnect.{{softwareServiceInstanceName}}')",
          " RING(zOSConnect.{{softwareServiceInstanceName}}) DEFAULT)"
 if RC <> 0 then do
    exit RC
 end
/* List the keyring for diagnostics */
"RACDCERT ID({{ZCON_ADMIN_SERVER}}) LISTRING(zOSConnect.{{softwareServiceInstanceName}})"
 if RC <> 0 then do
    exit RC
 end
exit 0
