{{ JOB_CARD }}
//* CHECK FOR WORKLIB EXISTANCE
//*
//LSTDS1  EXEC PGM=IDCAMS
//SYSPRINT DD SYSOUT=A
//SYSIN    DD *
     LISTCAT ENT('{{DFS_AUTH_LIB_HLQ1}}.{{DFS_AUTH_LIB_HLQ2}}.IMSJAVA.JOBS')
//*
//* ALLOCATE JOBS DATA SET IF NOT THERE
//*
//ALLCWRK EXEC PGM=IEFBR14,COND=(0,EQ,LSTDS1)   
//SYSUT2   DD  DISP=(NEW,CATLG),SPACE=(CYL,(10,10,5)),
//         DSN={{DFS_AUTH_LIB_HLQ1}}.{{DFS_AUTH_LIB_HLQ2}}.IMSJAVA.JOBS,
//*         STORCLAS=MFI,
//         DCB=(LRECL=80,RECFM=FB,BLKSIZE=27920,DSORG=PO)
//*
/*