{{ JOB_CARD }}
//*
//* NOTE: IF THIS MEMBER EXISTS IT WILL NOT BE
//*       REPLACED. IF YOU WISH TO USE THE SUGGESTED 
//*       SETTINGS FOR THE JVM OPTIONS CHANGE
//*       THE SYSIN CONTROL STATEMENT FROM ADD TO REPL
//*
//UPDTPRC    EXEC PGM=IEBUPDTE,PARM=MOD
//SYSPRINT DD   SYSOUT=*
//SYSUT1   DD   DSNAME={{DFS_AUTH_LIB_HLQ1}}.{{DFS_AUTH_LIB_HLQ2}}.IMSJAVA.JOBS,
//         DISP=SHR
//SYSUT2   DD   DSNAME={{DFS_AUTH_LIB_HLQ1}}.{{DFS_AUTH_LIB_HLQ2}}.IMSJAVA.JOBS,
//         DISP=SHR
//SYSIN    DD   DATA
./        {{ 'ADD' if not member_exists else 'REPL' }}   NAME={{ DFS_IMS_SSID }}JMP{{ REGION_NUM|string }},LEVEL=00,SOURCE=0,LIST=ALL
//{{ DFS_IMS_SSID }}JMP{{ REGION_NUM|string }}  JOB ,
// CLASS=A,MSGCLASS=H,MSGLEVEL=(1,1),NOTIFY={{ TSO_USERID }},REGION=0M
//       JCLLIB ORDER={{ DFS_PROCLIB }}
//*******************************************************
//*
//* JCL FOR THE IMS JAVA REGION (JMP) USED TO EXECUTE YOUR JAVA
//* PROGRAM
//*
//* AUTHOR            LAST CHANGED        PROJECT
//* ---------------   --------------      -------------------
//* {{ TSO_USERID }}         01/22/16          {{ DFS_appname }}
//*******************************************************
//       EXEC DFSJMP,
//            IMSID={{ DFS_IMS_SSID}},JVMOPMAS=DFSJVMMS,ENVIRON=DFSJVMEV,
//            CL1={{ DFS_tranclass1 }},CL2={{ DFS_tranclass2 }},CL3={{ DFS_tranclass3 }},CL4={{ DFS_tranclass4 }}
//STEPLIB  DD DSN={{ DFS_IMS_LIB_HLQ }}.SDFSJLIB,DISP=SHR
//         DD DSN={{ DFS_RESLIB }},DISP=SHR
//         DD DSN={{ ZOS_LERUNLIB}},DISP=SHR
//         DD DSN={{ ZOS_CSSLIB }},DISP=SHR
//PROCLIB  DD DSN={{ DFS_PROCLIB }},DISP=SHR
//JAVAOUT  DD  PATH='{{ DFS_workingdir }}/jvm.out',
//             PATHDISP=(KEEP,KEEP),
//             PATHOPTS=(OWRONLY,OCREAT,OTRUNC),
//             PATHMODE=(SIRWXU,SIRWXG,SIRWXO)
//JAVAERR  DD  PATH='{{ DFS_workingdir }}/jvm.err',
//             PATHDISP=(KEEP,KEEP),
//             PATHOPTS=(OWRONLY,OCREAT,OTRUNC),
//             PATHMODE=(SIRWXU,SIRWXG,SIRWXO)
./      ENDUP
/*
