{{ JOB_CARD }}
//*
//JMPSTRT         EXEC  PGM=IEBGENER
//SYSPRINT  DD    SYSOUT=*
//SYSUT2    DD    SYSOUT=(A,INTRDR)
//SYSIN     DD    DUMMY
//SYSUT1    DD    DSN={{DFS_AUTH_LIB_HLQ1}}.{{DFS_AUTH_LIB_HLQ2}}.IMSJAVA.JOBS({{ DFS_IMS_SSID }}JMP{{ REGION_NUM|string }}),DISP=SHR
/*