{{ JOB_CARD }}
//SPOC      EXEC PGM=CSLUSPOC,
//  PARM=('IMSPLEX={{IMSPLEX}},ROUTE={{ROUTE}},WAIT=30')
//STEPLIB   DD DISP=SHR,DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD *
 UPDATE TRAN NAME(IB*) STOP(Q,SCHD)
 UPDATE PGM NAME(IB*) STOP(SCHD)
 DEL TRAN NAME(IB*)
 DEL PGM NAME(IB*)
 STO DB ACCOUNT
 DBR DB ACCOUNT
 DEL DB NAME(ACCOUNT)
 STO DB CUSTACCS
 DBR DB CUSTACCS
 DEL DB NAME(CUSTACCS)
 STO DB CUSTOMER
 DBR DB CUSTOMER
 DEL DB NAME(CUSTOMER)
 STO DB HISTORY
 DBR DB HISTORY
 DEL DB NAME(HISTORY)
 STO DB TSTAT
 DBR DB TSTAT
 DEL DB NAME(TSTAT)
 /*EOF