{{ JOB_CARD }}
//***************************************************************
//INIT      EXEC PGM=DSPURX00
//STEPLIB  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL
//         DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.SDFSRESL
//SYSPRINT DD SYSOUT=*
//IMS       DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.DBDLIB
//*        DD DISP=SHR,
//*     DSN=IMSPERF.IDBCTK01.RESLIB(DFSCD000)
//*        DD DISP=SHR,
//*     DSN=IMSPERF.IDBCTK01.RESLIB(DFSCX000)
//RECON1  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.RECON1
//RECON2  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.RECON2
//RECON3  DD DISP=SHR,
//      DSN={{ IMSBANK_HLQ1 }}.{{ IMSBANK_HLQ2 }}.RECON3
//SYSIN    DD *
 DELETE.DBDS  DBD(CUSTOMER) DDN(CUSTOMER)
 DELETE.DB    DBD(CUSTOMER)
 DELETE.DBDS  DBD(ACCOUNT) DDN(ACCOUNT)
 DELETE.DB    DBD(ACCOUNT)
 DELETE.DBDS  DBD(CUSTACCS) DDN(CUSTACCS)
 DELETE.DB    DBD(CUSTACCS)
 DELETE.DBDS DBD(HISTORY) DDN(HISTORY)
 DELETE.DB DBD(HISTORY)
 DELETE.DBDS DBD(TSTAT) DDN(TSTAT) 
 DELETE.DB DBD(TSTAT)

