//ANSIBLE JOB 'testing',
// NOTIFY=OMVSADM,
// MSGCLASS=E,
// MSGLEVEL=(1,1),
// CLASS=A
//*********************************************************************
//*                                                                   *
//* <copyright                                                        *
//*     notice="cics-lm-source"                                       *
//*     pids="5655-CI1"                                               *
//*     years="2017"                                                  *
//*     crc="1408306984" >                                            *
//*                                                                   *
//*                                                                   *
//*     Licensed Materials - Property of IBM                          *
//*                                                                   *
//*     5655-CI1                                                      *
//*                                                                   *
//*     (C) Copyright IBM Corp. 2017 All Rights Reserved.             *
//*                                                                   *
//*     @{[**]copyright.years=2017}                                   *
//*                                                                   *
//*                                                                   *
//*     </copyright>                                                  *
//*                                                                   *
//*********************************************************************
//STEP1       EXEC  PGM=IKJEFT1A,DYNAMNBR=20
//SYSTSPRT    DD    SYSOUT=A
//SYSTSIN     DD    *
 ALLOCATE FILE(DD1) DATASET('{{ ZCON_ZOS_PROCLIB }}') SHR
 DELETE '{{ ZCON_ZOS_PROCLIB }}({{softwareServiceInstanceName}})' FILE(DD1)
 FREE FILE(DD1)
{% if ZCON_STC_JOB_CARD  and not ZCON_STC_JOB_CARD != '' %}
{% if ZCON_ZOS_STCJOBS  and not ZCON_ZOS_STCJOBS != '' %}
 ALLOCATE FILE(DD2) DATASET('{{ ZCON_ZOS_STCJOBS }}') SHR
 DELETE '{{ ZCON_ZOS_STCJOBS }}({{softwareServiceInstanceName}})' FILE(DD2)
 FREE FILE(DD2)
{% endif %}
{% endif %}
/*