iconv -f IBM-1047 -t ISO8859-1 {{ ZCEE_CONFIG_PATH }}/server.xml > {{ ZCEE_CONFIG_PATH }}/server.xml.tmp
 if [ $? -gt 0 ]; then 
    echo "ERROR: Could not convert server.xml" >&2;
    exit "1"; 
fi
mv {{ ZCEE_CONFIG_PATH }}/server.xml.tmp {{ ZCEE_CONFIG_PATH }}/server.xml
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not move file" >&2;
    exit "2"; 
fi
chtag -t -c iso8859-1 {{ ZCEE_CONFIG_PATH }}/server.xml
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not tag file" >&2;
    exit "3"; 
fi
chmod 775 {{ ZCEE_CONFIG_PATH }}/server.xml
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not chmod server.xml" >&2;
    exit "4"; 
fi

iconv -f IBM-1047 -t ISO8859-1 {{ ZCEE_CONFIG_PATH }}/bootstrap.properties > {{ ZCEE_CONFIG_PATH }}/bootstrap.properties.tmp
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not convert bootstrap.properties" >&2;
    exit "5"; 
fi
mv {{ ZCEE_CONFIG_PATH }}/bootstrap.properties.tmp {{ ZCEE_CONFIG_PATH }}/bootstrap.properties
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not move file" >&2;
    exit "6"; 
fi
chtag -t -c iso8859-1 {{ ZCEE_CONFIG_PATH }}/bootstrap.properties
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not tag file" >&2;
    exit "7"; 
fi
chmod 775 {{ ZCEE_CONFIG_PATH }}/bootstrap.properties
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not chmod bootstrap.properties" >&2;
    exit "8"; 
fi

# Set permissions
chmod 775 {{ZCON_ZFS_MOUNTPOINT}}/{{softwareServiceInstanceName}}
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not chmod directory" >&2;
    exit "9"; 
fi
chmod 775 {{ZCON_ZFS_MOUNTPOINT}}/{{softwareServiceInstanceName}}/servers 
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not chmod directory" >&2;
    exit "10"; 
fi
chmod 775 {{ ZCEE_CONFIG_PATH }}
if [ $? -gt 0 ]; then 
    echo "ERROR: Could not chmod directory" >&2;
    exit "11"; 
fi