//ST{{softwareServiceInstanceName}} JOB 'testing',
//  NOTIFY={{ TARGET_USERNAME | upper }},
//  USER={{ TARGET_USERNAME | upper }},
//  MSGCLASS=E,
//  MSGLEVEL=(1,1),
//  CLASS=A
//ZCLUDPRC JCLLIB ORDER=({{ ZCON_ZOS_PROCLIB }})
//STARTZC     EXEC PROC={{softwareServiceInstanceName}}
